# Destination for all 'deno install X' "binaries". Deno appends "/bin".
export DENO_INSTALL_ROOT=~

alias deno-run="deno run -A --unstable"
alias deno-lint="deno lint --unstable"
alias deno-test="deno fmt ; deno test -A --unstable"
alias deno-testc="deno fmt ; deno test -A --unstable --coverage"
alias deno-clear-caches="rm -rf $(deno --unstable info --json | jq -r .denoDir)"
