# Add this to the end of .zshrc to pull in everything for Creators Home:
#    source ~/.config/z4h-zshrc/homectl.zshrc

eval "$(asdf exec direnv hook zsh)"
direnv() { asdf exec direnv "$@"; }

if type zoxide > /dev/null; then
    eval "$(zoxide init zsh)"
fi

if type broot > /dev/null; then
    eval "$(broot --print-shell-function zsh)"
fi
