[data]
    [data.git.user]
        name = "Shahid N. Shah"
        email = "user@email.com"
    [data.git.credential.helper.cache]
        timeout = 2592000 # 30 days

    # add [data.github.user.prime] if you want the following in .gitconfig:
    # [url "https://gitHubUserHandle:PERSONAL_ACCESS_TOKEN_VALUE@github.com"]
    #    insteadOf = https://github.com    
    [data.github.user.prime]
        id = 'gitHubUserHandle'
        pat = 'PERSONAL_ACCESS_TOKEN_VALUE'
        insteadof_in_gitconfig = "yes"